<section data-ng-controller="CommunitiesController">
    <div class="page-header">
        <h1>New Community</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" enctype="multipart/form-data" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Image</label>
                    <div class="controls">
                        <input type="file" ng-file-select="onFileSelect($files)" multiple/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Tittle</label>
                    <div class="controls">
                        <input type="text" data-ng-model="tittle" id="tittle" class="form-control" placeholder="Tittle" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Subtittle</label>
                    <div class="controls">
                            <textarea data-ng-model="subtittle" id="subtittle" class="form-control" placeholder="Sub Tittle"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <textarea data-ng-model="Description" id="description" class="form-control" placeholder="Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Category</label>
                    <div class="controls">
                        <select id="category" ng-model='selectedCategory' ng-options='obj.name for obj in category'>
                        </select>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="control-label" for="name">Status</label>
                    <div class="controls">
                        <select id="status_post" ng-model='selectedStatus' ng-options='obj.name for obj in status_post'>
                        </select>
                    </div>
                </div> 

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>