<section data-ng-controller="CommunitiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>All Communities</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="community in communities" data-ng-href="#!/communities/{{community._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="community.tittle"></h4>

            <div class="list-group-item-heading">Category : <span data-ng-bind="category[community.category].name"></span></div>

            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="community.created | date:'medium'"></span>
                by
                <span data-ng-bind="community.user.displayName"></span>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!communities.$resolved || communities.length">
    	No Communities yet, why don't you <a href="/#!/communities/create">create one</a>?
    </div>
</section>