<section data-ng-controller="CommunitiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="community.tittle"></h1>
		<h4 data-ng-bind="community.subtittle"></h4>
		<h4 data-ng-bind="community.description"></h4>
		<div>Category : <span data-ng-bind="category[community.category].name"></span></div>
		<div>Status : <span data-ng-bind="status_post[community.status_post].name"></span></div>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == community.user._id">
		<a class="btn btn-primary" href="/#!/communities/{{community._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="community.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="community.user.displayName"></span>
		</em>
	</small>
</section>