<section data-ng-controller="GalleriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Galleries</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="gallery in galleries" data-ng-href="#!/galleries/{{gallery._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="gallery.created | date:'medium'"></span>
				by
				<span data-ng-bind="gallery.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="gallery.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!galleries.$resolved || galleries.length">
    	No Galleries yet, why don't you <a href="/#!/galleries/create">create one</a>?
    </div>
</section>